<!DOCTYPE html>
<html>
<head>
  <title>Strata living - 37 Paul St </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" href="/css/print.css" />
</head>
<body>
  <article><br/>{{#each content}}
    {{#each this}}{{ md_print this }}
  <footer></footer>{{/each}}{{/each}}
  </article>
</body>
</html>

