<!DOCTYPE html>
<html>
<head>
  <title>37 {{bodycss}}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="{{bodycss}}">
<div class="container">
<main>
{{{body}}}
</main>
</div>
<script type="text/javascript" src="/ui/v1/adm.js?6bb2d5598b2bcf3d4eb4"></script></body>
</html>
