<!DOCTYPE html>
<html>
<head>
  <title>{{ html.title }} 37paulst</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<!--   <base href="/" /> -->
</head>
<body class="{{bodycss}}">
{{{body}}}
<script type="text/javascript" src="/ui/v1/js/app.js?46abb62d0b3e87aad7c1"></script></body>
{{#if @analytics}}{{> analytics }}{{/if}}
</html>
