<!DOCTYPE html>
<html>
<head>
  <title>{{ html.title }} - 37paulst</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="/" />
</head>
<body class="{{bodycss}}">
{{{body}}}
<script type="text/javascript" src="/ui/v1/js/app.js?5d94bc50f17d8cea611f"></script></body>
{{#if @analytics}}{{> analytics }}{{/if}}
</html>
