<article>
<header>
  <a href="/" title="Home" class="home"><img src="/favicon.ico" /> 37paulst.com</a>
  <a href="/toc" title="Home"><img src="/img/author.jpg" /> {{page.part.title}}</a>
</header>
{{ md_web page.id }}
<footer>
  <hr />
  Jump to >
  {{#if page.next}}<a href="{{page.next.url}}">Next chapter</a>{{/if}}
</footer>
</article>
