div.container { position:fixed;
  top:0;bottom:0;
  left:0;right:0;
  padding:0;
  text-align:left;
  background:#f9f9f9;
  overflow:scroll; }


body.srcs {
  .set { position:fixed;
    z-index:2;
    top:15px;
    bottom:0;
    // right:0;
    margin:0;
    border-bottom:none;
    overflow-y:scroll;
    background-color:hsla(255,100%,100%,.8);
    > ul { display:none;padding-bottom:30px; } 
    > ul > li { 
      position:relative;
      width:85%;            
      &.n { display:none }
      > header, 
      > section { margin-right:160px; 
        tt { display:inline-block;margin-right:4px } }
      > footer { height:0;
        nav { 
          // display:none;
          a:after { color:darkgray;
            position:absolute;
            right:-60px;
            width:48px;
            text-align:left; }
          a:hover { color:cyan }
          a { position:absolute;
              right:0px;
              font:.9em arial; }
          .uri { top:2px;color:rgb(217, 48, 37); 
            &:after { content:'᜶ orig' } } 
          .nid { top:17px;color:navy; 
            &:after { content:'⌘ copy' }}
          .tid { top:32px;color:hsla(30,20%,40%);
            &:after { content:'⋙ thread' }}
          .eid { top:47px;color:rgb(255, 117, 55);  
            &:after { content:'⏍ edit' }}
          .ign { top:62px; 
            color:brown; 
            &:after { content:'ignore' }}
          .rmv { 
            top:77px; 
            color:red;
            &:after { content:'delete' }}
            } } }
    > ul > li:hover {
      > footer nav { display:block } } } }

li.doc header { 
  border-top:solid 1px black;
  font:small-caps bold 0.8em/2em courier }

aside .gmail {
  .ffig;
  .focusd .mail;
}

#xplorer { position:fixed;
    top:0;bottom:0;left:0;
                               padding:0px 0.25%;
                               width:400px;
                               background:#e4e8ef;
                               // opacity:0.95;
                               overflow-y:scroll;
  > div {                      // width:97%;
                               margin:5px 1%;
                               float:left;
                               letter-spacing:-0.4px;
    ul {                       list-style:none;
      padding:0;margin:0 0 0 0.5em; }
    li  {                      display:inline-block;
                               height:13px;
                               width:91px;
                               font-size:10px;
                               color:gray }}
  span { font-size:11px;
    line-height:12px;
    float:right }
  var {                        color:#d7153a; }
  input {                      height:11px;margin:0px; }
  p {                          margin:5px 0;
                               padding:0;
                               // width:100%;
                               line-height:12px;font-size:12px; }
  textarea#cpd {               position:fixed;
                               z-index:100;
                               bottom:2px;
                               left:6px;
                               width:390px;min-height:80px;
                               border:none;                
                               opacity:.9;                 
                               background:white;
                               font:normal 11px courier;
                               letter-spacing:-1.5px; }
  > ul {                       margin:0px 0 100px 0;
                               padding:0px .5em;
                               max-width:97%;
                               overflow-x:hidden;
    font:normal 12px 'Times new roman';
    letter-spacing:-.04em;
  li {                       position:relative;
                               display:block;
                               max-width:98%;
                               padding:0;
                               word-wrap:nowrap;
                               white-space:pre;
                               height:1.3em;
                               line-height:1em; }
  time {                     padding:0 5px 0;
                           color:gray;
                           font:bold 11px courier;
                           letter-spacing:-1.2px;
                            text-transform:uppercase; }}}


#workbar { display:none;
  position:fixed;
  z-index:1;
  top:0;right:0;bottom:0;
  padding:5px 1px;
  width:720px;
  background:#343131;
  h5 { margin:0px 0px 3px 0px;
    font-size:11px;
    text-align:center;
    color:#e3e3e3; }
  textarea { 
    padding:8px;
    width:100%;height:33%;
    overflow-wrap:normal;
    border:none;
    border-top:solid 1px #c9c9c9;
    background:#222222;opacity:0.8;
    color:#FFD500;
    font:normal 13px/14px 'courier';
    letter-spacing:-0.6px } }


@media (min-width:1120px) {
  body.srcs .set { right:20% }
  #workbar { display:block; }}

@media (min-width:1499px) {
  body.srcs .set { right:500px }
  #workbar { display:block;width:480px } }

@media (min-width:1759px) {
  body.srcs .set { right:600px;opacity:1 }
  #workbar { width:580px; } }

@media (min-width:1880px) {
  body.srcs .set { right:760px }
  #workbar { width:700px; } }
