<ul>{{#each r}}
  <li style="margin:10px;max-width:220px;max-height:510px;overflow:hidden;display:inline-block">
    <time>{{day time}}</time>
    <h4>{{title}}</h4>
    <a target="_blank" href="{{url}}"><img src="{{url}}" width="100%" /></a> 
  </li>{{/each}}
</ul>
