<article id="toc">

<header>
  <a href="/" title="Home" class="home"><img src="/favicon.ico" /> 37paulst</a>
</header>

{{ web_chapter page }}


<p><br/>37paulst design and content are opinionated personal productions by J.K.</p>

</article>
