<main>
  <header>
{{!--     <a href="/toc" title="Introduction"><img src="/favicon.ico" /></a> --}}
{{!--     {{page.part.title}} --}}
    <a href="/" title="Table of contents" class="toc"><img src="/favicon.ico" /></a>
  </header>
  <article>{{ web_chapter page }}</article>
  <footer>
    - {{#if page.next}}Jump to > <a href="{{page.next.url}}">Next chapter</a>{{/if}}
  </footer>
</main>
