<!DOCTYPE html>
<html>
<head>
  <title>37 {{bodycss}}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/libs.css" />
  <link rel="stylesheet" href="/css/web.css" />
  <link rel="stylesheet" href="/css/ag.css" />
  <link rel="stylesheet" href="/css/adm.css" />
  <script type="text/javascript" src="/js/moment.min.js"></script>{{!-- src= "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js --}}
  <script type="text/javascript" src="/js/ag.js"></script>
</head>
<body class="{{bodycss}}">

<div class="container">
<main>
{{{body}}}
</main>
</div>

</body>
</html>
