<!DOCTYPE html>
<html>
<head>
  <title>{{ html.title }} 37paulst</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/" />
</head>
<body>
<div>
{{{body}}}
</div>
<script type="text/javascript" src="/ui/v1/ag.js?a601e7bec7adf5c3d0e4"></script></body>
{{#if @analytics}}{{> analytics }}{{/if}}
</html>
